<div class="application mx-auto">
  <div class="caption d-flex align-items-center justify-content-center h-100 w-100">
    <div class="content text-center text-white">
      {{title}}
    </div>
  </div>
  <img class="w-100"
       [src]="imageUrl" [alt]="title"/>
</div>
