.application {
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 4/3;

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);

    &:hover {
      opacity: 1;
    }

    .content {
      font-size: 1.5rem;
    }
  }

  box-shadow: 5px 3px 9px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 3px 9px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 3px 9px -1px rgba(0,0,0,0.5);
}
