$fabSize: 60px;
$fabChildSize: 50px;

widget-fab {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

button.dropdown-item,
button.dropdown-toggle:not(.host-button) {
  border: 1px solid #{map-get($theme-colors, 'secondary')} !important;
  width: #{$fabChildSize} !important;
  height: #{$fabChildSize} !important;
  margin-bottom: 5px;
  @include button-outline-variant(map-get($theme-colors, 'secondary'));
}

button.host-button,
button.dropdown-item,
button.dropdown-toggle:not(.host-button) {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: #{$fabSize};
  width: #{$fabSize};
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
}

widget-fab .host-button.dropdown-toggle::after {
  visibility: collapse;
  border: none;
  margin: 0 !important;
  display: none;
}

// Theming
@each $color, $value in $theme-colors {
  widget-fab[theme-color='#{$color}'] {
    button.host-button {
      border: 1px solid $value !important;
      @include button-variant($value, $value);
    }
  }

  widget-fab[theme-color='outline-#{$color}'] {
    button.host-button {
      border: 1px solid $value !important;
      @include button-outline-variant($value);
    }
  }

  button.dropdown-item[theme-color='outline-#{$color}'],
  button.dropdown-toggle[theme-color='outline-#{$color}'] {
    border: 1px solid $value !important;
    @include button-outline-variant($value);
  }

  button.dropdown-item[theme-color='#{$color}'],
  button.dropdown-toggle[theme-color='#{$color}'] {
    border: 1px solid $value !important;
    @include button-variant($value, $value);
  }
}

//#region Dropdown menu

.dropdown-menu.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  min-width: auto;
  width: #{$fabSize};
}

.dropdown-menu.show:not(.host-dropdown-menu) {
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show[x-placement="left-bottom"] {
  width: auto !important;
  height: #{$fabChildSize};
  left: -10px !important;

  button {
    margin: 0;
  }

  .dropdown-item {
    margin-right: 5px;
  }
}

//#endregion
