widget-navigation-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: #{$headings-margin-bottom};
  margin-bottom: #{$form-group-margin-bottom};


  .title-area {
    flex: 1 1 auto;
  }

  .menu-area {
    overflow-x: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  widget-navigation-menu-item {
    margin-bottom: 0 !important;
    flex: 0 0 150px;

    &:first-child:not(:last-child),
    &:not(:first-child):not(:last-child) {
      border-right: $border-width solid $border-color !important;
    }
  }
}

