//#region Host

widget-main-menu-item {
  min-height: 90px;
  margin-bottom: 5px;

  &[disabled] {
    cursor: not-allowed;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  // Theme build up
  @each $color, $value in $theme-colors {
    &[theme-color='#{$color}'] {
      border-left: .25rem solid $value !important;
      color: $value;
    }
  }

  .content-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
  }

  .content-container .main-content {
    /* .text-truncate */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* .h5*/
    font-size: 1.25rem;

    font-weight: bold;
    margin-bottom: 0;
    flex: 1 1 auto;
  }

  .content-container .icon {
    flex: 0 0 0;
  }
}
