widget-navigation-menu-item {
  display: block;
  width: 150px;
  height: 60px;

  background-color: #f8f9fa;
  border: 1px solid #ddd;
  color: #6c757d;
  font-size: 12px;
  padding: 15px 5px;
  position: relative;
  text-align: center;
  margin-bottom: #{$form-group-margin-bottom};

  &:not(:disabled) {
    cursor: pointer;
  }
}

widget-navigation-menu-item > .fa,
widget-navigation-menu-item > .fas,
widget-navigation-menu-item > .far,
widget-navigation-menu-item > .fab,
widget-navigation-menu-item > .fal,
widget-navigation-menu-item > .fad,
widget-navigation-menu-item > .svg-inline--fa,
widget-navigation-menu-item > .ion {
  display: block;
  font-size: 20px;
}

widget-navigation-menu-item > .svg-inline--fa {
  margin: 0 auto;
}

widget-navigation-menu-item:hover:not(:disabled) {
  background-color: #f8f9fa;
  border-color: #aaaaaa;
  color: #444;
}

widget-navigation-menu-item > .badge {
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  right: -10px;
  top: -3px;
}

@each $color, $value in $theme-colors {
  widget-navigation-menu-item[theme-color="#{$color}"] {
    @include button-variant($value, $value);
  }

  widget-navigation-menu-item[theme-color="outline-#{$color}"] {
    @include button-outline-variant($value);
  }
}
