<div class="d-flex align-items-center justify-content-center w-100 h-100"
     [ngSwitch]="authenticationStatus">
  <!--Authenticating-->
  <ng-container *ngSwitchCase="AuthenticationStatuses.none">
    <div class="fw-bold text-info">
      Authenticating...
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="AuthenticationStatuses.successful">
    <div class="fw-bold text-success">
      Redirecting to home page...
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="fw-bold text-danger">
      Authentication failed !
    </div>
  </ng-container>
</div>
