<div class="ps-3">
  <div  class="mb-2"
        *ngFor="let event of events; let index = index">
    <ng-container [ngSwitch]="events != null && events.length > 0">
      <ng-container *ngSwitchCase="true">
        <ng-container>
          <ngb-accordion>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <div class="d-flex w-100">
                  <div class="flex-grow-1 flex-shrink-1 d-flex align-items-center">
                    <code>{{event.name}}</code>
                  </div>
                  <div class="flex-grow-0 flex-shrink-0"
                       *ngIf="profile">
                    <!--Edit-->
                    <a class="btn btn-toolbar text-info d-inline-block"
                       #editEventButton
                       [href]="eventIdToEditUrl[event.id]"
                       type="button"
                       (click)="editEventButton.blur(); $event.preventDefault(); goToUrl(eventIdToEditUrl[event.id]!)">
                      <span class="fa fa-edit"></span>
                    </a>

                    <!--Delete-->
                    <button class="btn btn-toolbar text-danger d-inline-block"
                            #deleteEventButton
                            type="button"
                            (click)="deleteEventButton.blur(); deleteEvent(event.id)">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <!--Description-->
                <ng-container>
                  <div class="form-control border-0 mb-2 markdown"
                       [ngSwitch]="event!.description && event.description!.length > 0">
                    <markdown *ngSwitchCase="true" [data]="event.description"></markdown>
                    <ng-container *ngSwitchDefault>(Event has no description)</ng-container>
                  </div>
                </ng-container>

                <!--Properties-->
                <ng-container *ngIf="eventIdToProperties[event.id] as properties">
                  <ng-container class="properties"
                      *ngIf="properties.length > 0">
                    <b class="title">Properties</b>
                    <ng-container *ngFor="let property of properties">
                      <table class="table table-responsive table-striped table-sm mb-4">
                        <tbody>
                        <tr>
                          <th>Name</th>
                          <td>
                            <code>{{property.name}}</code>
                          </td>
                        </tr>
                        <tr>
                          <th>Value type</th>
                          <td>{{property.valueType}}</td>
                        </tr>
                        <tr>
                          <th>Default value</th>
                          <td>{{property.defaultValue}}</td>
                        </tr>
                        <tr>
                          <th>Optional</th>
                          <td>{{property.optional}}</td>
                        </tr>
                        <tr>
                          <th>Availability</th>
                          <td>{{property.availability}}</td>
                        </tr>
                        <tr>
                          <th>Description</th>
                          <td>
                            <ng-container [ngSwitch]="property?.description?.length">
                              <markdown *ngSwitchCase="true"
                                        [data]="property.description"></markdown>
                              <i *ngSwitchDefault>(No description)</i>
                            </ng-container>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="alert alert-danger text-center w-100">
          No event is found
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<widget-fab [theme-color]="'outline-primary'"
            [icon]="'fa fa-bars'">

  <ng-container *ngIf="profile">
    <widget-fab-item *ngIf="component && component.id"
                     [icon]="'fa fa-plus'"
                     [theme-color]="'primary'"
                     [title]="'Add an event'"
                     (click)="goToAddEventPage()">
    </widget-fab-item>
  </ng-container>

  <widget-fab-item *ngIf="application && application.id"
                   [theme-color]="'secondary'"
                   [icon]="'fa fa-arrow-left'"
                   (click)="goBack()">
  </widget-fab-item>

</widget-fab>
