<div class="ps-3">
  <ng-container [ngSwitch]="methods && methods.length > 0">
    <ng-container *ngSwitchCase="true">
      <ng-container *ngFor="let method of methods; let index = index">
        <ngb-accordion>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="d-flex w-100">
                <div class="flex-grow-1 flex-shrink-1 d-flex align-items-center"
                     [innerHTML]="method | toDetailedMethodText:methodToProperties[method.id] | toTrustedHtml"></div>
                <div class="flex-grow-0 flex-shrink-0"
                     *ngIf="profile">
                  <!--Edit-->
                  <a class="btn btn-toolbar text-info d-inline-block"
                     #editEventButton
                     [href]="methodIdToEditUrl[method.id] || 'javascript:void(0);'"
                     type="button"
                     (click)="editEventButton.blur(); $event.preventDefault(); goToUrl(methodIdToEditUrl[method.id]!)">
                    <span class="fa fa-edit"></span>
                  </a>

                  <!--Delete-->
                  <button class="btn btn-toolbar text-danger d-inline-block"
                          #deleteEventButton
                          type="button"
                          (click)="deleteEventButton.blur(); deleteMethod(method.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <!--Description-->
              <div class="text" [ngSwitch]="method && method!.description && method!.description!.length > 0">
                <div class="markdown form-control" *ngSwitchCase="true">
                  <markdown [data]="method.description"></markdown>
                </div>
                <ng-container *ngSwitchDefault>(Method has no description)</ng-container>
              </div>

              <!--Properties-->
              <table *ngIf="methodToProperties[method.id] as properties"
                     class="property-info table table-responsive table-sm table-striped">
                <tbody>
                <ng-container *ngFor="let property of properties">
                  <tr>
                    <th>Value type</th>
                    <td>
                      <span class="badge bg-info">{{property.valueType}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th>Default type</th>
                    <td>
                      <span class="badge bg-info">{{property.defaultValue}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th>Optional</th>
                    <td>
                      {{property.optional}}
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="alert alert-danger text-center w-100">
        No method is found
      </div>
    </ng-container>
  </ng-container>
</div>

<widget-fab [theme-color]="'outline-primary'" [icon]="'fa fa-bars'">

  <ng-container *ngIf="profile">
    <widget-fab-item *ngIf="component && component.id"
                     [icon]="'fa fa-plus'"
                     [theme-color]="'primary'"
                     [title]="'Add a method'"
                     (click)="goToAddMethodPage()">
    </widget-fab-item>
  </ng-container>

  <widget-fab-item *ngIf="application && application.id"
                   [theme-color]="'secondary'"
                   [icon]="'fa fa-arrow-left'"
                   (click)="goBack()">
  </widget-fab-item>

</widget-fab>
