.method {

  .method-info {
    display: flex;

    .method-index {

    }

    .method-name {
      display: inline-block;
    }

  }

  .description,
  .properties {
    margin-bottom: 1rem;

    .title {
      text-decoration: underline;
    }

    .text {
      font-style: italic;
    }

  }

}
