textarea.markdown,
div.markdown {
  height: 300px;
}

div.markdown {
  background-color: #e9ecef;
}

textarea.markdown {
  resize: none;
}

table.property-info {
  tbody tr th {
    width: 150px;
  }
}
