<div class="ps-3">

  <ng-container [ngSwitch]="properties && properties.length > 0">
    <ng-container *ngSwitchCase="true">
      <div class="mb-2"
           *ngFor="let property of properties">
        <ngb-accordion>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="d-flex w-100">
                <div class="flex-grow-1 flex-shrink-1 d-flex align-items-center">
                  <code>{{property.name}}</code>
                </div>
                <div class="flex-grow-0 flex-shrink-0"
                     *ngIf="profile">
                  <!--Edit-->
                  <a class="btn btn-toolbar text-info d-inline-block"
                     #editPropertyButton
                     [href]="propertyIdToEditUrl[property.id]"
                     type="button"
                     (click)="editPropertyButton.blur(); $event.preventDefault(); goToUrl(propertyIdToEditUrl[property.id]!)">
                    <span class="fa fa-edit"></span>
                  </a>

                  <!--Delete-->
                  <button class="btn btn-toolbar text-danger d-inline-block"
                          #deletePropertyButton
                          type="button"
                          (click)="deletePropertyButton.blur(); deleteProperty(property.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </div>
            </ng-template>

            <ng-template ngbPanelContent>
              <!--Description-->
              <div class="row">
                <div class="col-12"
                     [ngSwitch]="property && property!.description && property!.description!.length > 0">
                  <div class="form-control border-0 markdown mb-2">
                    <ng-container *ngSwitchCase="true">
                      <markdown [data]="property.description"></markdown>
                    </ng-container>
                    <ng-container *ngSwitchDefault><i>(Property has no description)</i></ng-container>
                  </div>
                </div>
              </div>

              <table class="property-info table table-responsive table-sm table-striped">
                <tbody>
                <tr>
                  <th>Value type</th>
                  <td>
                    <span class="badge bg-info">{{property.valueType}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Default type</th>
                  <td>
                    <span class="badge bg-info">{{property.defaultValue}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Optional</th>
                  <td>
                    <input type="checkbox" disabled [checked]="property.optional">
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="alert alert-danger text-center w-100">
        No property is found
      </div>
    </ng-container>
  </ng-container>

</div>

<widget-fab [theme-color]="'outline-primary'" [icon]="'fa fa-bars'">

  <ng-container *ngIf="profile">
    <widget-fab-item *ngIf="component && component.id"
                     [icon]="'fa fa-plus'"
                     [theme-color]="'primary'"
                     [title]="'Add a property'"
                     (click)="goToAddPropertyPage()">
    </widget-fab-item>
  </ng-container>

  <widget-fab-item *ngIf="application && application.id"
                   [theme-color]="'secondary'"
                   [icon]="'fa fa-arrow-left'"
                   (click)="goBack()">
  </widget-fab-item>

</widget-fab>
