<div ngbDropdown>
  <button class="host-button" [id]="hostId"
          ngbDropdownToggle
          [ngbTooltip]="title" [attr.theme-color]="themeColor">
    <span [class]="icon"></span>
  </button>
  <div ngbDropdownMenu
       [attr.aria-labelledby]="hostId"
       class="host-dropdown-menu">

    <ng-container *ngFor="let context of context?.children">
      <ng-template [ngTemplateOutlet]="itemTemplate"
                   [ngTemplateOutletContext]="{$implicit: context}"></ng-template>
    </ng-container>
  </div>
</div>

<ng-template #itemTemplate
             let-context>

  <ng-container [ngSwitch]="context.hasChildren">
    <ng-container *ngSwitchCase="true">
      <!--Child dropdown-->
      <div ngbDropdown [placement]="'left-bottom'">
        <button [id]="context.id" ngbDropdownToggle
                [attr.theme-color]="idToDirective[context.id].themeColor">
          <span [class]="idToDirective[context.id].icon"></span>
        </button>
        <div ngbDropdownMenu [attr.aria-labelledby]="context.id">
          <ng-container *ngFor="let context of context?.children">
            <ng-template [ngTemplateOutlet]="itemTemplate"
                         [ngTemplateOutletContext]="{$implicit: context}"></ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <!--Dropdown menu item-->
    <ng-container *ngSwitchDefault>
      <button *ngIf="idToDirective[context.id]"
              ngbDropdownItem
              [attr.theme-color]="idToDirective[context.id].themeColor"
              type="button"
              [ngbTooltip]="idToDirective[context.id].title"
              [disabled]="idToDirective[context.id].disabled"
              (click)="clickOnItem(idToDirective[context.id])">
        <span [class]="idToDirective[context.id].icon"></span>
      </button>
    </ng-container>
  </ng-container>
</ng-template>
