<div class="container-fluid py-4 h-100">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)"
           [routerLink]="ScreenCodes.home | toUrlTree | toUrl">
          Home
        </a>
      </li>
      <li *ngIf="application?.id && application!.id!.length > 0"
          class="breadcrumb-item active" aria-current="page">
        {{application?.name}}
      </li>
    </ol>
  </nav>

  <router-outlet></router-outlet>

</div>
