<div class="modal-header"
     [formGroup]="formGroup">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button"
          class="btn-close"
          aria-label="Close"
          (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <!--Title-->
      <b>Title</b>
      <div class="mb-2">
        <input class="form-control"
               [formControlName]="ControlNames.title">
        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.title)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>

      <!--Description-->
      <b>Description</b>
      <div class="mb-2">
        <input class="form-control"
               [formControlName]="ControlNames.description">
        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.description)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="confirm()">Close</button>
</div>
