<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..."/>
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Libraries</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5"
           *ngFor="let application of applications">
        <application [title]="application.name"
                     (click)="goToVersionsPage(application.id)"></application>
      </div>
      <div class="col-md-6 col-lg-4 mb-5"
           *ngIf="profile">
        <application [title]="'Add new application'"
                     [imageUrl]="'/assets/images/icons/plus (4x3).png'"
                     (click)="goToAddApplicationPage()"></application>
      </div>
    </div>
  </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The
        download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS
        stylesheets for easy customization.</p></div>
      <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the
        icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
        <i class="fas fa-download me-2"></i>
        Free Download!
      </a>
    </div>
  </div>
</section>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
</div>
