<ng-container [formGroup]="formGroup">

  <!--Application name-->
  <ng-container [ngSwitch]="viewMode === PageViewModes.READ">
    <ng-container *ngSwitchCase="true">
      <h1>{{application?.name}}</h1>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <b>Application name</b>
      <input class="form-control mb-2" [formControlName]="ControlNames.applicationName">
      <cms-validation-summarizer [instance]="formGroup.get(ControlNames.applicationName)"
                                 [maximum-messages]="1">
      </cms-validation-summarizer>
    </ng-container>
  </ng-container>

  <!--Description-->
  <div class="row">

    <ng-container [ngSwitch]="viewMode === PageViewModes.READ">
      <ng-container *ngSwitchCase="true">
        <div class="col-sm-9">
          <ng-container *ngIf="application?.description as description; else noDescriptionTemplate"
                        [ngSwitch]="description && description.length > 0">
            <div class="markdown form-control">
              <markdown *ngSwitchCase="true"
                        [data]="formGroup.get(ControlNames.applicationDescription)?.value"
                        lineNumbers
                        [start]="5">
              </markdown>
            </div>
          </ng-container>
          <ng-template #noDescriptionTemplate>
            <i>(No description available)</i>
          </ng-template>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="col-6">
          <b>Application description</b>
          <textarea class="markdown mb-2 form-control"
                    [formControlName]="ControlNames.applicationDescription"></textarea>
          <cms-validation-summarizer [instance]="formGroup.get(ControlNames.applicationDescription)"
                                     [maximum-messages]="1">
          </cms-validation-summarizer>
        </div>
        <div class="col-6">
          <b>Preview</b>
          <div class="markdown form-control">
            <markdown [data]="formGroup.get(ControlNames.applicationDescription)?.value"
                      lineNumbers
                      [start]="5">
            </markdown>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <!--Version-->
    <div class="col-sm-3"
         *ngIf="viewMode === PageViewModes.READ">
      <div class="card border-info">
        <div class="card-header">
          <h3 class="card-title">Versions</h3>
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let version of versions">
              <a [href]="versionIdToUrl[version.id] || 'javascript:void(0)'"
                 (click)="$event.preventDefault(); goToUrl(versionIdToUrl[version.id])">
                {{version.title}}
              </a>
            </li>
            <li *ngIf="profile">
              <a [href]="addVersionUrl || 'javascript:void(0);'"
                 (click)="$event.preventDefault(); goToUrl(addVersionUrl)">Add a version</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<widget-fab [icon]="'fa fa-bars'"
            [theme-color]="'outline-primary'">

  <ng-container *ngIf="profile">
    <widget-fab-item *ngIf="application && application.id"
                     [title]="viewMode === PageViewModes.READ ? 'Edit' : 'Cancel'"
                     [icon]="'fa fa-edit'"
                     [theme-color]="viewMode === PageViewModes.READ ? 'primary' : 'danger'"
                     (click)="toggleEditMode()"></widget-fab-item>

    <widget-fab-item *ngIf="viewMode !== PageViewModes.READ"
                     [title]="'Save'"
                     [icon]="'fa fa-save'"
                     [theme-color]="'primary'"
                     (click)="submit()"></widget-fab-item>

    <widget-fab-item *ngIf="application && application.id"
                     [title]="'Delete'"
                     [icon]="'fa fa-trash'"
                     [theme-color]="'danger'"
                     (click)="deleteApplication(application.id)"></widget-fab-item>
  </ng-container>


  <widget-fab-item *ngIf="application && application.id"
                   [title]="'Go back'"
                   [icon]="'fa fa-arrow-left'"
                   [theme-color]="'default'"
                   (click)="goBack()"></widget-fab-item>
</widget-fab>
