div.markdown,
textarea.markdown {
  height: 500px;
}

div.markdown {
  background-color: #e9ecef;
}

.content {
  display: flex;
}

.component-sidebar {
  padding-right: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  overflow-y: auto;

  .method,
  .event,
  .property {
    padding-left: 1rem;
  }
}

.component-content {
  padding-right: 0;
  overflow-y: auto;
}
