<ng-container [ngSwitch]="viewMode === ViewModes.READ">

  <!--Valid version-->
  <ng-container *ngSwitchCase="true">
    <h1>{{version!.title}}</h1>
    <div class="markdown form-control">
      <markdown [data]="version!.description!"
                lineNumbers
                [start]="5">
      </markdown>
    </div>
  </ng-container>

  <!--Invalid version-->
  <ng-container *ngSwitchDefault
                [formGroup]="formGroup">

    <div class="row">
      <div class="col-12">
        <!--Title-->
        <b [class.required]="formGroup.get(ControlNames.title)! | hasValidators: ['required']">Title</b>
        <div class="mb-2">
          <input class="form-control"
                 [formControlName]="ControlNames.title">
          <cms-validation-summarizer [instance]="formGroup.get(ControlNames.title)"
                                     [maximum-messages]="1">
          </cms-validation-summarizer>
        </div>
      </div>

      <!--Description-->
      <div class="col-6">
        <b [class.required]="formGroup.get(ControlNames.title)! | hasValidators: ['required']">Description</b>
        <div class="mb-2">
          <textarea class="form-control markdown"
                    [formControlName]="ControlNames.description"></textarea>
          <cms-validation-summarizer [instance]="formGroup.get(ControlNames.description)"
                                     [maximum-messages]="1">
          </cms-validation-summarizer>
        </div>
      </div>

      <!--Preview-->
      <div class="col-6">
        <b>Preview</b>
        <div class="markdown form-control">
          <markdown [data]="formGroup.get(ControlNames.description)?.value"
                    lineNumbers
                    [start]="5">
          </markdown>
        </div>
      </div>
    </div>

  </ng-container>
</ng-container>

<widget-fab [theme-color]="'outline-primary'"
            [icon]="'fa fa-bars'">

  <!--Submit-->
  <widget-fab-item *ngIf="viewMode !== ViewModes.READ"
                   [theme-color]="'primary'"
                   [icon]="'fa fa-save'"
                   (click)="submitApplicationVersion()">
  </widget-fab-item>

  <ng-container [ngSwitch]="hasVersion">
    <!--Adding version-->
    <ng-container *ngSwitchCase="true">
      <ng-container *ngIf="profile">
        <!--Delete version-->
        <widget-fab-item *ngIf="viewMode === ViewModes.READ"
                         [title]="'Remove'"
                         [theme-color]="'danger'"
                         [icon]="'fa fa-trash'"
                         (click)="deleteVersion()">
        </widget-fab-item>

        <!--Toggle edit-->
        <widget-fab-item [title]="viewMode === ViewModes.READ ? 'Edit' : 'Cancel edit'"
                         [theme-color]="viewMode === ViewModes.READ ? 'primary' : 'danger'"
                         [icon]="'fa fa-edit'"

                         (click)="toggleEdit()">
        </widget-fab-item>
      </ng-container>
      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
  </ng-container>

  <widget-fab-item *ngIf="application && application.id"
                   [theme-color]="'secondary'"
                   [icon]="'fa fa-arrow-left'"
                   (click)="goBack()">
  </widget-fab-item>
</widget-fab>
