<div class="ps-3">
  <ng-container [ngSwitch]="component && component.id.length > 0">
    <h1>
      <ng-container *ngSwitchCase="true">
        {{component!.name}}
      </ng-container>
      <ng-container *ngSwitchDefault>
        Add a component
      </ng-container>
    </h1>

  </ng-container>

  <ng-container [formGroup]="formGroup">
    <!--Name-->
    <b [class.required]="formGroup.get(ControlNames.componentName)! | hasValidators: ['required']">
      Name
    </b>
    <div class="mb-2">
      <input class="form-control" [formControlName]="ControlNames.componentName">
      <cms-validation-summarizer [instance]="formGroup.get(ControlNames.componentName)"
                                 [maximum-messages]="1">
      </cms-validation-summarizer>
    </div>

    <b [class.required]="formGroup.get(ControlNames.kind)! | hasValidators: ['required']">
      Kind
    </b>
    <div class="mb-2">
      <select class="form-control" [formControlName]="ControlNames.kind">
        <option *ngFor="let availableKind of availableKinds"
                [ngValue]="availableKind">
          {{availableKind}}
        </option>
      </select>
      <cms-validation-summarizer [instance]="formGroup.get(ControlNames.kind)"
                                 [maximum-messages]="1">
      </cms-validation-summarizer>
    </div>


    <b [class.required]="formGroup.get(ControlNames.description)! | hasValidators: ['required']">
      Description
    </b>
    <div class="row">
      <div class="col-6">
        <div class="mb-2">
          <textarea class="form-control markdown" [formControlName]="ControlNames.description"></textarea>
          <cms-validation-summarizer [instance]="formGroup.get(ControlNames.description)"
                                     [maximum-messages]="1">
          </cms-validation-summarizer>
        </div>
      </div>
      <div class="col-6">
        <div class="markdown mb-2">
          <markdown [data]="formGroup.get(ControlNames.description)!.value"></markdown>
        </div>
      </div>
    </div>

    <!--Availability-->
    <b [class.required]="formGroup.get(ControlNames.componentName)! | hasValidators: ['required']">
      Availability
    </b>
    <div class="mb-2">
      <select class="form-control" [formControlName]="ControlNames.availability">
        <option [ngValue]="ItemAvailabilities.available">Available</option>
        <option [ngValue]="ItemAvailabilities.unavailable">Unavailable</option>
      </select>
      <cms-validation-summarizer [instance]="formGroup.get(ControlNames.availability)"
                                 [maximum-messages]="1">
      </cms-validation-summarizer>
    </div>
  </ng-container>
</div>

<widget-fab [icon]="'fa fa-bars'"
            [theme-color]="'outline-primary'">

  <ng-container *ngIf="profile">
    <!--Save-->
    <widget-fab-item [icon]="'fa fa-save'"
                     [theme-color]="'primary'"
                     [title]="'Save'"

                     (click)="submit()">
    </widget-fab-item>
  </ng-container>


  <!--Back-->
  <widget-fab-item [icon]="'fa fa-arrow-left'"
                   [theme-color]="'secondary'"
                   [title]="'Back'"

                   (click)="goBack()">
  </widget-fab-item>
</widget-fab>
