<div class="ps-3">
  <!--Title-->
  <ng-container [ngSwitch]="method && method.id && method.id.length > 0">
    <ng-container *ngSwitchCase="true">
      <h2>{{method!.name}}</h2>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <h2>Add a method</h2>
    </ng-container>
  </ng-container>

  <!--Detail form-->
  <ng-container [formGroup]="formGroup">
    <!--Name-->
    <div class="row">
      <div class="col-12">
        <b [class.required]="formGroup!.get(ControlNames.methodName)! | hasValidators: ['required']">Name</b>
        <input class="form-control mb-2"
               [formControlName]="ControlNames.methodName">

        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.methodName)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>
    </div>

    <!--Description-->
    <div class="row">
      <div class="col-lg-6">
        <b [class.required]="formGroup!.get(ControlNames.description)! | hasValidators: ['required']">Description</b>
        <textarea class="markdown form-control mb-2"
                  [formControlName]="ControlNames.description"></textarea>

        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.description)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>

      <div class="col-lg-6">
        <b>Preview</b>
        <div class="form-control markdown mb-2">
          <markdown [data]="formGroup.get(ControlNames.description)!.value"></markdown>
        </div>
      </div>
    </div>

    <!--Value type-->
    <div class="row">
      <div class="col-12">
        <b [class.required]="formGroup!.get(ControlNames.valueType)! | hasValidators: ['required']">
          Value type
        </b>
        <input class="form-control mb-2"
               [formControlName]="ControlNames.valueType">

        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.valueType)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>
    </div>

    <!--Availability-->
    <div class="row">
      <div class="col-12">
        <b [class.required]="formGroup!.get(ControlNames.availability)! | hasValidators: ['required']">
          Availability
        </b>
        <select class="form-control mb-2"
                [formControlName]="ControlNames.availability">
          <option [ngValue]="ItemAvailabilities.available">Available</option>
          <option [ngValue]="ItemAvailabilities.unavailable">Unavailable</option>
        </select>

        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.valueType)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>
    </div>


  </ng-container>


  <!--Properties-->
  <div class="row"
       *ngIf="method?.id">
    <div class="col-12">
      <b>Properties</b>

      <ng-container [ngSwitch]="properties && properties.length > 0">

        <ng-container *ngSwitchCase="true">
          <div class="card mb-2"
               *ngFor="let property of properties">
            <div class="card-body">
              <div class="float-start">
                <h3>Name</h3>
              </div>
              <div class="float-end">
                <button class="btn text-danger">
                  <span class="fa fa-trash"></span>
                </button>
              </div>

              <table class="table table-sm table-responsive">
                <tbody>
                <tr>
                  <th>Value type</th>
                  <td>{{property.valueType}}</td>
                </tr>
                <tr>
                  <th>Default value</th>
                  <td>{{property.defaultValue}}</td>
                </tr>
                <tr>
                  <th>Optional</th>
                  <td>{{property.optional}}</td>
                </tr>
                <tr>
                  <th>Availability</th>
                  <td>{{property.availability}}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{property.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div class="alert alert-danger text-center">
            No property is found
          </div>
        </ng-container>

      </ng-container>
    </div>
  </div>

</div>

<widget-fab [theme-color]="'outline-primary'"
            [icon]="'fa fa-bars'">

  <!--Save-->
  <widget-fab-item [icon]="'fa fa-save'"
                   [theme-color]="'primary'"
                   [title]="'Save'"
                   (click)="submit()">
  </widget-fab-item>

  <!--Add property-->
  <widget-fab-item *ngIf="method && method.id && method.id.length > 0"
                   [icon]="'fa fa-plus'"
                   [theme-color]="'primary'"
                   [title]="'Add a property'"
                   (click)="addProperty()">
  </widget-fab-item>

  <!--Back-->
  <widget-fab-item [icon]="'fa fa-arrow-left'"
                   [theme-color]="'secondary'"
                   [title]="'Back'"
                   (click)="back()">
  </widget-fab-item>
</widget-fab>
