.slim-scrollbar {
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &:not(:hover) {

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }

  &:hover {

    &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      background-color: #a8bbbf;
    }

    &::-webkit-scrollbar-thumb:vertical {
      border-left: 12px solid transparent;
      border-right: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      border-top: 12px solid transparent;
      border-bottom: 2px solid transparent;
    }

  }
}
