nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav {
    margin-top: 1rem;
  }

  .navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }

  .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
  }

  .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
  }

  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}

@media (min-width: 992px) {

  nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;

    .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }

    .navbar-nav {
      margin-top: 0;
    }

    .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #fff;
      text-decoration: underline;
    }

    &.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
  }
}
