<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-truncate"
       [routerLink]="ScreenCodes.home | toUrlTree | toUrl"
       href="javascript:void(0)"
       [style.max-width.px]="150">Home</a>

    <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
            type="button"
            aria-label="Toggle navigation"
            (click)="changeNavbarExpansion()">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div [class.collapse]="!expanded"
         class="navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <ng-container [ngSwitch]="profile !== undefined && profile !== null">
          <!--Login-->
          <li *ngSwitchDefault class="nav-item mx-0 mx-lg-1"
              (click)="authenticate()">
            <a class="nav-link py-3 px-0 px-lg-3 rounded"
               href="javascript:void(0);">
              <span class="fa fa-user"></span> Login
            </a>
          </li>

          <!--Logout-->
          <li *ngSwitchCase="true"
              class="nav-item mx-0 mx-lg-1"
              (click)="logout()">
            <a class="nav-link py-3 px-0 px-lg-3 rounded"
               href="javascript:void(0);">
              <span class="fa fa-user"></span> Logout
            </a>
          </li>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>
