<div class="ps-3">
  <ng-container [ngSwitch]="property && property.id.length > 0">
    <h1>
      <ng-container *ngSwitchCase="true"
                    [ngSwitch]="hostKind">
        <ng-container *ngSwitchCase="HostKinds.method">
          Add a property into method
        </ng-container>
        <ng-container *ngSwitchCase="HostKinds.event">
          Add a property into event
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{property!.name}}
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault
                    [ngSwitch]="hostKind">
        <ng-container *ngSwitchCase="HostKinds.method">
          Add a property into method
        </ng-container>
        <ng-container *ngSwitchCase="HostKinds.event">
          Add a property into event
        </ng-container>
        <ng-container *ngSwitchDefault>
          Add a property
        </ng-container>
      </ng-container>
    </h1>
  </ng-container>

  <ng-container [formGroup]="formGroup">

    <!--Name-->
    <ng-container>
      <b [class.required]="formGroup.get(ControlNames.propertyName)! | hasValidators: ['required']">
        Name
      </b>
      <div class="mb-2">
        <input class="form-control" [formControlName]="ControlNames.propertyName">
        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.propertyName)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>
    </ng-container>

    <!--Value type-->
    <ng-container>
      <b [class.required]="formGroup.get(ControlNames.valueType)! | hasValidators: ['required']">
        Value type
      </b>
      <div class="mb-2">
        <input class="form-control" [formControlName]="ControlNames.valueType">
        <cms-validation-summarizer [instance]="formGroup.get(ControlNames.valueType)"
                                   [maximum-messages]="1">
        </cms-validation-summarizer>
      </div>
    </ng-container>

    <!--Default value-->
    <ng-container>
      <b [class.required]="formGroup.get(ControlNames.defaultValue)! | hasValidators: ['required']">
        Default value
      </b>
      <div class="row">
        <div class="col-12">
          <div class="mb-2">
            <input class="form-control" [formControlName]="ControlNames.defaultValue">
            <cms-validation-summarizer [instance]="formGroup.get(ControlNames.defaultValue)"
                                       [maximum-messages]="1">
            </cms-validation-summarizer>
          </div>
        </div>
      </div>
    </ng-container>

    <!--Description-->
    <ng-container>
      <b [class.required]="formGroup.get(ControlNames.description)! | hasValidators: ['required']">
        Description
      </b>
      <div class="row">
        <div class="col-6">
          <div class="mb-2">
            <textarea class="form-control markdown" [formControlName]="ControlNames.description"></textarea>
            <cms-validation-summarizer [instance]="formGroup.get(ControlNames.description)"
                                       [maximum-messages]="1">
            </cms-validation-summarizer>
          </div>
        </div>
        <div class="col-6">
          <div class="markdown form-control mb-2">
            <markdown [data]="formGroup.get(ControlNames.description)!.value"></markdown>
          </div>
        </div>
      </div>
    </ng-container>

    <!--Optional-->
    <ng-container>
      <b [class.required]="formGroup.get(ControlNames.optional)! | hasValidators: ['required']">
        Optional
      </b>
      <div class="row">
        <div class="col-12">
          <div class="mb-2">
            <select class="form-control"
                    [formControlName]="ControlNames.optional">
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
            <cms-validation-summarizer [instance]="formGroup.get(ControlNames.optional)"
                                       [maximum-messages]="1">
            </cms-validation-summarizer>
          </div>
        </div>
      </div>
    </ng-container>

    <!--Availability-->
    <ng-container>
      <b [class.required]="formGroup.get(ControlNames.availability)! | hasValidators: ['required']">
        Availability
      </b>
      <div class="row">
        <div class="col-12">
          <div class="mb-2">
            <select class="form-control"
                    [formControlName]="ControlNames.availability">
              <option [ngValue]="Availabilities.available">Available</option>
              <option [ngValue]="Availabilities.unavailable">Unavailable</option>
            </select>
            <cms-validation-summarizer [instance]="formGroup.get(ControlNames.optional)"
                                       [maximum-messages]="1">
            </cms-validation-summarizer>
          </div>
        </div>
      </div>
    </ng-container>

  </ng-container>
</div>

<widget-fab [icon]="'fa fa-bars'"
            [theme-color]="'outline-primary'">

  <!--Save-->
  <widget-fab-item [icon]="'fa fa-save'"
                   [theme-color]="'primary'"
                   [title]="'Save'"

                   (click)="submit()">
  </widget-fab-item>

  <!--Back-->
  <widget-fab-item *ngIf="goBackUrl && goBackUrl.length > 0"
                   [icon]="'fa fa-arrow-left'"
                   [theme-color]="'secondary'"
                   [title]="'Back'"

                   (click)="goToUrl(goBackUrl)">
  </widget-fab-item>
</widget-fab>
