<div class="flex-grow-1 flex-shrink-1 position-relative overflow-hidden">
  <div class="row h-100 mx-0">
    <div *ngIf="hasVersion"
         class="border-info component-sidebar"
         [class.col-lg-3]="hasVersion"
         [class.col-md-4]="hasVersion">

      <div *ngIf="hasVersion"
           [class.col-lg-3]="hasVersion"
           [class.col-md-4]="hasVersion">
        <div class="border-info component-sidebar h-auto mb-2">
          <!--Overview-->
          <div class="text-truncate">
            <b class="fa fa-folder"></b>
            <span>&nbsp;</span>
            <a [href]="versionOverviewUrl || 'javascript:void(0);'"
               (click)="$event.preventDefault(); goToUrl(versionOverviewUrl)">
              Overview
            </a>
          </div>
        </div>

        <!--Component children-->
        <ng-container *ngIf="hasAnyComponent">
          <ng-container *ngFor="let component of components">
            <!--Name-->
            <div class="text-truncate">
              <b class="fa fa-folder"></b>
              <span>&nbsp;</span>
              <a [href]="componentIdToOverviewUrl[component.id] || 'javascript:void(0)'"
                 (click)="$event.preventDefault(); goToUrl(componentIdToOverviewUrl[component.id])">
                {{component.name}}
              </a>
            </div>

            <!--Components-->
            <div class="component-sidebar h-auto mb-2 border-top-0">
              <!--Component children-->
              <ng-container *ngIf="hasAnyComponent">
                <ng-container *ngFor="let component of components">
                  <!--Name-->
                  <div class="text-truncate">
                    <b class="fa fa-folder"></b>
                    <span>&nbsp;</span>
                    <a [href]="componentIdToOverviewUrl[component.id] || 'javascript:void(0)'"
                       (click)="$event.preventDefault(); goToUrl(componentIdToOverviewUrl[component.id])">
                      {{component.name}}
                    </a>
                  </div>

                  <!--Properties-->
                  <div class="property text-truncate">
                    <b class="fa fa-folder"></b>
                    <span>&nbsp;</span>
                    <a [href]="componentIdToPropertyUrl[component.id] || 'javascript:void(0)'"
                       (click)="$event.preventDefault(); goToUrl(componentIdToPropertyUrl[component.id])">
                      Properties
                    </a>
                  </div>

                  <!--Events-->
                  <div class="event text-truncate">
                    <b class="fa fa-folder"></b>
                    <span>&nbsp;</span>
                    <a [href]="componentIdToEventUrl[component.id] || 'javascript:void(0)'"
                       (click)="$event.preventDefault(); goToUrl(componentIdToEventUrl[component.id])">
                      Events
                    </a>
                  </div>

                  <!--Methods-->
                  <div class="method text-truncate">
                    <b class="fa fa-folder"></b>
                    <span>&nbsp;</span>
                    <a [href]="componentIdToMethodUrl[component.id] || 'javascript:void(0)'"
                       (click)="$event.preventDefault(); goToUrl(componentIdToMethodUrl[component.id])">
                      Methods
                    </a>
                  </div>

                  <hr class="me-3"/>
                </ng-container>
              </ng-container>

              <!--Name-->
              <div class="text-truncate mb-2"
                   *ngIf="profile && hasVersion">
                <b class="fa fa-folder"></b>
                <span>&nbsp;</span>
                <a [href]="addComponentUrl || 'javascript:void(0)'"
                   (click)="$event.preventDefault(); goToUrl(addComponentUrl)">
                  Add a component
                </a>
              </div>
            </div>
            <div class="component-content px-sm-0"
                 [class.col-lg-9]="hasVersion"
                 [class.col-md-8]="hasVersion">
              <router-outlet></router-outlet>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
