.content {
  display: flex;
}

.component-sidebar {
  padding-right: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-width: 0.125rem;
  border-style: solid;
  height: 100%;
  overflow-y: auto;
  border-color: #dee2e6 #dee2e6;

  .method,
  .event,
  .property {
    padding-left: 1rem;
  }


  .component-content {
    padding-right: 0;
    overflow-y: auto;
  }
}
